@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsla(0 0% 0% / 0.75);
    --font-family: "Kumbh Sans", sans-serif;
    --font-size: 16px;
    --font-weight-400: 400;
    --font-weight-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    padding: 1rem;
    color: var(--dark-grayish-blue);
    background-color: var(--white);
}

h1, h2, h4 {
    font-weight: var(--font-weight-700);
    color: var(--very-dark-blue);
}

h1 {
    padding: 1rem 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}

hr {
    border: 0;
    border-top: 1px solid var(--grayish-blue);
}

button {
    all: unset;
    cursor: pointer;
    background-color: var(--orange);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--very-dark-blue);
    font-weight: var(--font-weight-700);
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: var(--pale-orange);
}

nav {
    padding: 0 1rem;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    padding: 0.5rem;
    padding-bottom: 1.25rem;
    color: var(--dark-grayish-blue);
    cursor: pointer;
}

li:hover {
    border-bottom: 0.5rem solid var(--orange);
}

.btn {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.quantity {
    display: flex;
    align-items: center;
    background-color: var(--light-grayish-blue);
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.quantity-btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-svg {
    fill: var(--orange);
}

.quantity-svg:hover {
    fill: var(--pale-orange);
}

.selected-amount {
    font-weight: var(--font-weight-700);
    color: var(--very-dark-blue);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    padding: 1rem;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    border: 2px solid var(--orange);
    cursor: pointer;
}

.company-name {
    font-weight: var(--font-weight-700);
}

.product-details {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.container {
    grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--black);
}

.modal-images {
    width: fit-content;
}

.modal-content {
  position: relative;
}

.modal-slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.slide {
    width: 100%;
    display: none;
}

.product-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    width: 60%;
    border-radius: 1rem;
}

.modal-img {
    width: 35%;
    border-radius: 1rem;
    margin: 1rem;
}

.prev,
.next {
  cursor: pointer;
  background-color: var(--white);
  padding: 0.5rem;
  border-radius: 2.5rem;
  width: auto;
  transition: 0.6s ease;
}

.next {
  right: 0;
}

.prev-mobile {
    position: absolute;
    top: 35%;
}

.next-mobile {
    position: absolute;
    top: 35%;
    right: 5%;
}

.row {
  display: flex;
    justify-content: center;
    align-items: center;
}

.column {
  margin: 0.25rem;
  padding: 0;
}

.thumb {
    opacity: 1;
    border-radius: 0.5rem;
    cursor: pointer;
}

.active,
.thumb:hover {
    opacity: 0.6;
}

.active {
    border: 2px solid var(--orange);
}

.new-price {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.new-price span {
    color: var(--white);
    background-color: var(--very-dark-blue);
    padding: 0.15rem 0.5rem;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
    font-size: 0.75rem;
    font-weight: var(--font-weight-700);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 1rem;
  width: 20rem;
  height: 11rem;
  right: 2rem;
  flex-direction: column;
  border-radius: 0.5rem;
}

.show {
    display: flex;
}

.cart-header {
    margin: 0.5rem 0;
}

.cart-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem 0;
}

.empty-cart {
    display: block;
    font-weight: var(--font-weight-700);
}

.full-cart {
    width: 100%;
    display: none;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.checkout {
    width: 90%;
}

.cart-item-remove {
    cursor: pointer;
}

.total {
    font-weight: var(--font-weight-700);
    color: var(--very-dark-blue);
}

.description {
    padding: 1rem 0;
}

.slideshow {
    display: none;
}

.mobile_menu {
    display: none;
    margin-right: 1rem;
}

.close_menu {
    display: none;
    padding: 1rem;
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }

    main {
        display: block;
        padding: 0;
    }

    nav {
        display: none;
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--white);
        color: var(--very-dark-blue);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 5rem;
        font-weight: var(--font-weight-700);
    }

    ul {
        flex-direction: column;
    }

    li {
        color: var(--very-dark-blue);
    }

    button {
        margin: 1rem 0;
    }

    .btn {
        flex-direction: column;
        align-items: normal;
    }

    .quantity {
        margin-right: 0;
    }

    .quantity-btn {
        width: 100%;
    }

    .container {
        display: none;
    }

    .slideshow {
        display: block;
    }

    .close_menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0.5rem;
    }

    .mobile_menu {
        display: block;
    }

    .dropdown-content {
        right: 0;
    }
}